﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The foremost authority of good humor that you will find anywhere on your local host.</p>
</div>
